.clignote {
  fill: blue;
  animation: 0.5s clignotement infinite;
}

body {
  position: absolute;
}

.personnage1 {
  position: relative;
  top: 300px;
  left: 1500px;
}

.personnage2 {
  position: absolute;
  top: 100px;
  left: 300px;
}

.personnage3 {
  position: absolute;
  top: 650px;
  left: 180px;
}

.personnage4 {
  position: absolute;
  top: 700px;
  left: 1500px;
}

.convoyeur {
  position: absolute;
  top: 500px;
  left: 650px;
  height: 300px;
  width: 900px;
  background-color: dodgerblue;
}

@keyframes clignotement {
  0% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}
.voiture {
  animation: 0.5s mouvement_voiture infinite;
}

@keyframes mouvement_voiture {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 14px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
#tete2, #tete3, #tete4 {
  transform-origin: 0px;
  animation: 0.5s mouvement_tete_perso3 infinite;
}

@keyframes mouvement_tete_perso3 {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
#sort2_1, #sort2_2,
#sort1_3,
#sort3_1, #sort3_2,
#sort4_3 {
  animation: 1s mouvement_sort1 infinite;
}

#sort2_3,
#sort1_1, #sort1_2,
#sort3_3,
#sort4_1, #sort4_2 {
  animation: 1s mouvement_sort2 0.5s infinite;
}

@keyframes mouvement_sort1 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    fill: deeppink;
  }
}
@keyframes mouvement_sort2 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    fill: darkviolet;
  }
}
#etoile2_11, #etoile2_12, #etoile2_13, #etoile2_14,
#etoile2_15, #etoile2_16, #etoile2_17, #etoile1_6, #etoile1_7,
#etoile1_8, #etoile1_9, #etoile1_10, #etoile1_11, #etoile1_12 {
  animation: 1s start_color 0.5s infinite;
}

@keyframes start_color {
  0%, 50%, 75% {
    opacity: 1;
  }
  25% {
    opacity: 10;
    fill: darkviolet;
  }
  100% {
    opacity: 10;
    fill: yellow;
  }
}

/*# sourceMappingURL=style.css.map */
